* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  background-color: #dfe7fe;
}

/* Pro výběr barev můžeš použít např: https://imagecolorpicker.com/
Pro vygenerování stínu pro tlačítko můžeš použít např: https://cssgenerator.org/box-shadow-css-generator.html */

/* Tady je místo pro tvůj kód */

body {
  text-align: center;
  margin-top: 100px;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  justify-content: center;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 100px;
}

img.top {
  margin: 1rem;
  padding: 1rem;
  border-radius: 0 20%;
  width: 400px;
}

section.Payment {
  background-color: #382ae1;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  color: white;
}

section.Cancel {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}

h1 {
  margin: 10px;
  padding: 10px;
}

.container {
  height: 70%;
  width: 400px;
  border-radius: 20px;
}

img.icon {
  position: relative;
  margin-top: 20px;
}

.container1 {
  display: flex;
  flex-direction: row;
  background-color: #f8f9fe;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  justify-content: space-around;
  padding-top: 1rem;
}

img {
  border-radius: 13% 13% 0 0;
}

.text {
  color: #a3a7bb;
}

.cena {
  color: #a3a7bb;
  margin: 10px;
  padding: 10px;
}

.cancel {
  color: #828aa2;
  background-color: white;
  border-radius: 20%;
}

.container2 {
  width: 470px;
  height: 591px;
  background-color: #dfe7fd;
  margin-left: 10rem;
  margin-right: 10rem;
}

.plan {
  margin: 10px;
}

.change {
  padding: 20px;
}
